.banner-wz{width: 40%;position: absolute;top: 30%;right: 5%;}
.banner-wz h1{font-size: 60px;font-weight: bold;color: #fff;}
.banner-wz h2{font-size: 16px;margin-top: 16px;font-weight: bold;color: #fff;}
.banner-wz p{font-size: 16px;line-height: 24px;margin-top: 40px;color: #fff;width: 80%;}
.contactus-banner{margin-top: 90px;position: relative;}
.contactus-banner img{width: 100%;}
.dynamic-list{width: 100%;}
.dynamic-list li:nth-child(2n+2){background: #F5F5F5;}
.dynamic-list li{overflow: hidden;width: 100%;background: #fff;height: 300px;}
.dynamic-list li a{width: 100%;height: 100%;}
.dynamic-list li:hover{background: linear-gradient(54deg,rgba(0,69,142,1),rgba(0,124,255,1));}
.dynamic-list li:hover .time h1{color: #fff;}
.dynamic-list li:hover .time h2{color: #fff;}
.dynamic-list li:hover .wzconten h1{color: #fff;}
.dynamic-list li:hover .wzconten p{color: #fff;}
.time{width: 20%;float: left;margin-top: 7%;}
.time h1{font-size: 60px;text-align: center;transition: all .6s ease;}
.time h2{font-size: 28px;text-align: center;margin-top: 6%;transition: all .6s ease;}
.wzconten{margin-top: 7%;width: 40%;float: left;}
.wzconten h1{font-size: 24px;transition: all .6s ease;}
.wzconten p{font-size: 14px;line-height: 28px;margin-top: 3%;transition: all .6s ease;text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;}
.dynamic-img{width: 30%;float: right;margin-top: 0.5%;}
.dynamic-img img{width: 100%;}

.dynadeyails{width: 100%;margin: 5% 0 0;border-bottom: 2px solid #000000;padding-bottom: 20px;}
.dynadeyails h1{font-size: 40px;font-weight: bold;text-align: center;}
.dynadeyails em{display: block;width:108px;height: 8px;background:linear-gradient(180deg,rgba(0,69,142,1),rgba(0,124,255,1));
    border-radius:2px;margin: 28px auto;}
.dails-times{width: 509px;margin: 0 auto;}
.dails-times span{font-size: 20px;margin-right: 70px;font-size: 18px;line-height: 24px;margin-top: 5%;}
.dails-nr{margin:5% 0;}
.dails-nr p{font-size: 18px;line-height: 24px;margin-top: 3%;}
.dails-nr img{max-width:100%;margin-top: 3%;}
@media (max-width: 1200px) { 

}
@media (max-width: 1199px){ 
    .dynamic-list li{height: 240px;}
    .time{margin-top: 5%;}
    .wzconten{margin-top: 5%;}
 }
@media (max-width: 991px){ 
    .dynadeyails h1{font-size: 30px;}
}
@media (max-width: 768px) { 
    .time{margin-top: 3%;width: 100%;}
    .wzconten{margin-top: 2%;width: 100%;}
    .dynamic-list li{height: auto;}
    .wzconten h1{text-align: center;}
    .dynamic-img{width: 80%;margin: 20px auto;float: none;}
    .time h2{margin-top: 2%;}
    .time h1{font-size: 40px;}
    .wzconten p{width: 80%;margin: 2% auto;}
    .dynadeyails h1{font-size: 20px;}
    .dails-times{width: 400px;}
    .dails-times span{font-size: 14px;margin-right: 5%;}
    .dails-nr p{font-size: 14px;}
} 
@media (max-width: 479px) {
    .dails-times{width: 90%;}
    .time h2{font-size:18px;}
}



























