body{
    width: 100%;height: 100%;
}
.section{width: 100%;}
.sectionmax{width: 100%;height: 100vh;}
.lunbo-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.section {overflow: hidden;}
.banner-box{
    width: 400%;
    height: 100%;
    overflow: hidden;
    transition: all .6s ease;
}
.banner-box li{width:25%;height: 100%;background-size: cover;background-repeat: no-repeat;float: left;overflow: hidden;}
.one-wz1{width:50%;margin-left:5%;float: left;margin-top: 20%;}
.one-wz2{height: 810px;margin-top: 5%;float: left;}
.lunsy{width: 200px;height: 5px;position: absolute;left: 45%;bottom: 5%;}
.lunsy li{width: 28%;height: 100%;background: #fff;float: left;margin-right: 2%;vertical-align: bottom;position: absolute;bottom: 0;left: 0;transition: all .6s ease;cursor: pointer;}
.lunsy li:nth-child(2){left: 34%;}
.lunsy li:nth-child(3){left: 68%;}
.lunsy .active{height: 200%;}
.qh-two h1{font-size: 34px;font-weight:bold;margin-top: 2%;}
.qh-two h2{font-size: 42px;color: #00458E;margin: 1% 0 1%;font-weight:bold;}
.qh-two p{font-size: 18px;line-height: 40px;margin-bottom: 1%;}
.qhtwo-list ul{overflow: hidden;padding: 1%;}
.qhtwo-list li{border: 1px solid #E3E3E3; margin:-1px ;width: 33.5%;height: 350px;float: left;cursor: pointer;position: relative;
}   
.qhtwo-list li:before{ 
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all .6s ease;background: url("/themes/images/index/listbg.png") no-repeat;background-size: cover;
    opacity: 0;
}
.qhtwo-list img{width: 68px;height: 65px;display: block;}
.qhtwo-list span{font-size: 22px;color: #0B0A40;font-weight: bold;margin-bottom: 8%;display:block;width: 100%;text-align: center;transition: all .6s ease;}
.qhtwo-list em{font-size: 14px;color: #0B0A40;margin-bottom:4%;display:block;width: 100%;text-align: center;transition: all .6s ease;}
.qhtwoimg-two{display: none;}
.qhtwo-list li:hover:before{opacity: 1;}
.qhtwo-list li:hover span{color: #fff;}
.qhtwo-list li:hover em{color: #fff;}
.qhtwo-list li:hover .qhtwoimg-one{display: none;}
.qhtwo-list li:hover .qhtwoimg-two{display: block;}
.qhtwoimg-box{width: 68px;height: 65px;overflow: hidden;margin: 8% auto;}
.secthree-right{margin-left: 26%;padding:50px 60px;height: 100%;}
.secthree-right ul{width: 100%;overflow: hidden;height: 100%;}
.secthree-right ul li{width: 33.33%;height: 33.33%;float: left;padding: 9px;}
.secthree-right ul li a{height: 100%;position: relative;display: block;overflow: hidden;}
.works-bg{height: 100%;background-position: center center;background-size:cover ;}
.secthree-right ul li p{position: absolute;width: 100%;bottom: -100px;left: 0;background: #0067D4;line-height: 54px;text-align: center;color: #fff;font-size: 14px;transition: all .6s ease;}
.secthree-right ul li:hover p{bottom: 0}
.secthree-left{width:25%;height: 100%;background: #0067D4;position: absolute;top: 0;left: 0;}
.secthree-left h1{font-weight: bold;width: 100%;text-align: center;font-size: 34px;margin: 20% 0 3%;color: #fff;}
.secthree-left h2{font-weight: bold;width: 100%;text-align: center;font-size: 42px;color: #fff;margin-bottom: 15%;}
.secthree-left em{font-size: 18px;color: #fff;display: block;width: 100%;margin-top: 10px;padding-left:20% ;}
.buttonbox{margin-top: 120px;}
.buttonbox div{width:214px;height: 56px;border: 1px solid #fff;text-align: center;line-height: 56px;margin:0 auto 26px;font-size: 20px;}
.buttonbox div a{width: 100%;height: 100%;color: #fff;display: block;}
.qh-three{width: 100%;font-size: 34px;}
.threetitle{font-size: 34px;font-weight: bold;width: 100%;text-align: center;margin: 3% 0 1%;}
.threettitltow{font-size: 42px;font-weight: bold;width: 100%;text-align: center;color: #00458E;}
.qh-three ul{width: 100%;overflow: hidden;height: 90%;margin-top: 3%;}
.qh-three ul li{background-size: cover;background-position: center center;padding: 0;background-repeat: no-repeat;height: 397px;overflow: hidden;}
.nes-div{width: 50%;height:100%;background: rgba(0, 124, 255, .4);transition: all .6s ease;opacity: 0;}
.qh-three ul li:nth-child(1) .nes-div,.qh-three ul li:nth-child(3) .nes-div{
    transform: translateX(100%);
  }
  .qh-three ul li:nth-child(2) .nes-div,.qh-three ul li:nth-child(5) .nes-div{
    transform: translateY(-100%);
  }
  .qh-three ul li:nth-child(4) .nes-div,.qh-three ul li:nth-child(6) .nes-div{
    transform: translateX(-100%);
  }
.qh-three ul li:hover .nes-div{transform: translateY(0); opacity: 1;} 
.nes-divnrbox{width: 80%;margin-top: 60%;margin-left:10%;}
.nes-div h1{font-size: 20px;font-weight: bold;width: 100%;color: #fff;text-align: left;}
.nes-div span{font-size: 14px;width: 100%;display: block;color: #fff;margin: 10px 0;}
.nes-div em{display: block;width: 142px;height: 3px;background: #fff;}
.nes-div p{font-size: 14px;color: #fff;line-height: 18px;margin-top: 10px;}
.nes-divtwo{display: flex;justify-content: center;align-items: center;}
.nes-divtwo div{width: 60%;}
.custom-box{width: 100%;}
.custom-box li{width:18%;margin:1%;height: 117px;float: left;cursor: pointer;}
.custom-box li div{width: 100%;height: 100%;border: 1px solid #8D8D8D;transition: all .6s ease;display: flex;justify-content: center;align-items: center;}
.custom-box li:hover div{transform: scale(1.2);}
.custom-box li img{max-width: 95%;}
.fp-auto-height{height: auto!important;}
.fp-auto-height .fp-tableCell{height: auto!important;}

.animated {
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.customers-box{
    padding: 1% 0;
    background-image:url("/themes/images/index/logoiocn.png") ;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 784px 719px; 
}

/* 关于我们 */
.process{width: 100%;height: 118px;background:linear-gradient(54deg,rgba(0,69,142,1),rgba(0,124,255,1));margin-top: 10px;}
.process ul{width: 100%;overflow: hidden;}
.process ul li{width: 20%;float: left;}
.process ul li  img{display: block;width:19%;margin: 30px auto 12px;}
.process ul li p{font-size: 12px;color: #fff;width: 100%;text-align: center;margin-top: 12px;}
.adve-box{width: 100%;position: relative;}
.adve{width: 80%;}
.adve-wzbox{width: 444px;height: 566px;background: url(/themes/images/about/adveimg.png) no-repeat;background-size: cover;position: absolute;top: 5%;left: 65%;}
.adve-list{width: 80%;float: right;margin-bottom:30px;margin-right: 3%;}
.adve-list span{width: 160px;height: 40px;background: #fff;text-align: center;line-height:40px;display: block;font-size: 20px;color: #00468F;font-weight: bold;margin-bottom: 16px;;}
.adve-list p{font-size: 16px;color: #fff;line-height: 20px;}
@media (max-width: 768px) { 
    .custom-box li{width:30%;margin:1%;height: 55px;margin: 1.5%;}
    .custom-box li img{max-width: 90%;}
    .threetitle{font-size: 16px;}
    .threettitltow{font-size: 18px;}
    .qh-three ul li{height: 342px;}
    .qh-three ul{width: 90%;margin: 2%auto 0;}
    .qh-three ul li{margin-bottom: 20px;}
    .qh-three ul li{height: 342px;}
    .secthree-right{padding: 22px;}
    .secthree-right ul li{width: 50%;padding:6px;height: 25.33%;}
    .secthree-left h1{font-size: 16px;line-height: 36px;}
    .secthree-left h2{font-size: 16px;line-height: 36px;}
    .secthree-left em{font-size: 14px;padding-left: 6%;width: 90%;}
    .qh-two h1{font-size: 16px;line-height: 20px;}
    .qh-two h2{font-size: 16px;line-height: 20px;}
    .qh-two p{font-size: 14px;line-height: 28px;}
    .buttonbox div{transform: scale(0.8);}
    .secthree-left{margin-left: -100%;}
    .secthree-right{margin-left: 0;}
    .qhtwo-list li{height: 318px;width: 50%;}
    .qhtwo-list span{font-size: 18px;}
    .banner-box li{background-position: right bottom;}
    .one-wz1{width: 85%;margin-top: 50%;}

    .customers-box{background-size:306px 300px;}
 }
@media (max-width: 479px) {
    .qhtwo-list li{height: 250px;}
}
@media (min-width: 768px) and (max-width: 991px){ 
    .custom-box li{width: 23%;height: 90px;margin: 1%;}
    .customers-box{background-size:40% 37%;}
    .nav-listbox li{font-size: 16px;margin-right: 8%;}
    .qh-three ul li{height: 342px;}
    .secthree-right{padding: 22px;}
    .secthree-right ul li{width: 50%;}
    .secthree-left h1,.qh-two h1{font-size: 26px;}
    .secthree-left h2,.qh-two h2{font-size: 34px;}
    .secthree-left em{font-size: 14px;padding-left: 6%;width: 90%;}
    .qh-two p{font-size: 14px;line-height: 32px;}
    .buttonbox div{transform: scale(0.8);}
    .qhtwo-list li{height: 278px;}
    .qhtwo-list span{font-size: 20px;}
    .banner-box li{background-position: right bottom;}

 }
@media (min-width: 992px)and (max-width: 1199px){ 
    .custom-box li{height: 100px;}
    .customers-box{background-size:40% 51%;}
    .qh-three ul li{height: 342px;}
    .secthree-right{padding: 22px;}
    .secthree-left h1,.qh-two h1{font-size: 30px;}
    .secthree-left h2,.qh-two h2{font-size: 38px;}
    .secthree-left em{font-size: 16px;padding-left: 4%;}
    .qh-two p{font-size: 16px;line-height: 36px;}
    .buttonbox div{transform: scale(0.8);}
    .qhtwo-list li{height: 325px;}
    .banner-box li{background-position: right bottom;}

 }
@media (min-width: 1200px) { 
    .custom-box li{width:18%;margin:1%;height: 117px;}
    .customers-box{background-size: 784px 719px;}
 }



















