.banner-wz{width: 40%;position: absolute;top: 30%;right: 5%;}
.banner-wz h1{font-size: 60px;color: #fff;font-weight: bold;}
.banner-wz h2{font-size: 16px;color: #fff;margin-top: 16px;font-weight: bold;}
.banner-wz p{font-size: 16px;line-height: 24px;color: #fff;margin-top: 40px;}
.service-box h1{font-size: 42px;color: #00458E;margin-top: 8%;font-weight: bold;}
.service-box h2{font-size: 42px;margin-top: 24px;font-weight: bold;}
.service-box p{font-size: 16px;line-height: 30px;margin-top: 32px;}
.service-box em{display: block;width: 27%;height: 6px;background: #00458E;margin-top: 16px;}
.service-box ul{width: 100%;margin-top: 5%;}
.service-box ul li{height: 318px;cursor: pointer;}
.service-box ul li:before{ 
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all .6s ease;background: url("/themes/images/index/listbg.png") no-repeat;background-size: cover;
    opacity: 0;
}
.service-box ul li:hover:before{opacity: 1;}
.service-box ul li:hover div{background: none;}
.service-box ul li:hover span{color: #fff;}
.service-box ul li:hover p{color: #fff;}
.service-box ul li div{background: #F5F5F5;width: 100%;height: 100%;border-top: 1px solid #fff;transition: all .6s ease;}
.service-box ul li span{font-size: 22px;color: #00458E;display: block;width: 100%;text-align: center;margin-top:27%;font-weight: bold;}
.service-box ul li p{width: 80%;display: block;margin: 28px auto 0;font-size: 14px;}
.sec-box{width: 100%;height: 840px;background: url(/themes/images/service/seobanner.png) no-repeat;background-size: cover;border-top:1px solid  #fff;margin-top: 5%;}
.sec-box h1{font-size: 40px;text-align: center;margin: 58px 0 34px;width: 100%;color: #fff;}
.sec-box p{width: 30%;text-align: center;font-size: 20px;color: #fff;line-height: 30px;margin: 0 auto;}
.sec-wzbox{width: 70%;margin: 44px auto 0;background: #fff;padding: 66px;overflow: hidden;}
.seo-img,.seo-wz{width: 45%;}
.seo-img img{width: 100%;}
.seowz-listbox{width: 100%;overflow: hidden;margin-bottom: 19%;}
.seowz-listbox:last-child{margin-bottom: 0;}
.seowz-listbox em{display: block;width:16px;height:72px; background:linear-gradient(54deg,rgba(0,69,142,1),rgba(0,124,255,1));float: left;}
.seo-nr{width: 94%;float: right;}
.seo-nr h5{font-size: 18px;font-weight: bold;color: #000;}
.seo-nr h6{font-size: 14px;margin-top: 5%;color: #000;}
.adv-img,.adv-wz{width: 40%;margin-top: 15%;}
.adv-img img{width: 100%;}
.advwz-title em{width: 20px;height: 80px;float: left;background:linear-gradient(54deg,rgba(0,69,142,1),rgba(0,124,255,1));}
.adv-titleez{width: 90%;float: right;}
.adv-titleez h1{font-size: 40px;font-weight: bold;}
.adv-titleez p{font-size: 16px;line-height: 30px;margin-top: 2%;}
.advantage ul{margin-left: 4%;margin-top: 5%;}
.advantage li{padding-left: 4%;border-left: 2px solid #2A4DFF;position: relative;padding-bottom:5%;}
.advantage li:last-child{padding-bottom: 0;}
.advantage li h2{font-size: 20px; font-weight: bold;}
.advantage li h3{font-size: 16px; line-height: 24px;margin-top: 2%;}
.advantage li em{display: block;width: 14px;height: 14px;background: #2A4DFF;position: absolute;left: -6px;top:0;border-radius: 50%;}
.barnd-list{margin-top: 4%;}
.brand-wz{left: 10%;}
.barnd-nrbox{width: 80%;}
.barndlist-nrlist{margin-bottom: 5%;}
.barndlist-nrlist h1{font-size: 24px;padding-left: 50px;background-size: 42px auto;height: 42px;line-height: 42px;color: #000;background-repeat: no-repeat;background-position:left  center;} 
.barndlist-nrlist h3{font-size: 14px;line-height: 24px;padding-left: 50px;font-weight: normal;margin-top: 10px;}
.barndplan-box{width: 100%;height: 140px;background:linear-gradient(54deg,rgba(0,70,142,1),rgba(0,124,255,1));}
.barndplan-box li{width: 15%;float: left;margin-right: 6%;}
.barndplan-box li:last-child{margin-right: 0;}
.barndplan-box li img{height: 49px;;display: block;margin: 33px auto 12px;}
.barndplan-box li span{display: block;font-size: 16px;color: #fff;text-align: center;margin-bottom: 8%;font-weight: bold;}
.barndplan-box li em{width: 70%;text-align:center;margin:0 auto;font-size: 12px;line-height: 24px;color: #fff;display: block;}
.brand-problem h1{font-size: 40px;text-align: center;margin-top: 5%; color: #00458E;}
.brand-problem h2{font-size: 20px;text-align: center;margin: 2% 0;}
.brand-problem ul{background: #fff;}
.brand-problem li{height: 190px;}
.brand-problem li div{width: 50%;height: 100%;}
.branpro-imgbox img{width: 100%;height: 100%;}
.brandpro-wz{cursor: pointer;transition: all .6s ease;background: #fff;}
.brandpro-wz h3{font-size: 20px;margin-top: 20%;padding-left: 8%;}
.brandpro-wz p{font-size:12px;margin-top: 5%;line-height: 18px;padding-left: 8%;}
.brandpro-wz:hover{background:linear-gradient(54deg,rgba(0,70,142,1),rgba(0,124,255,1));}
.brandpro-wz:hover h3{color: #fff;}
.brandpro-wz:hover p{color: #fff;}

.wx-jies{padding: 10% 0;}
.wxjies-img{width: 45%;float: left;}
.wxjies-wz{width: 45%;float: right;}
.wxjies-wz h1{font-size: 66px;color: #006ADA;font-weight: bold;}
.wxjies-wz h1 em{color: #FF6C00;}
.wxjies-wz p{font-size: 16px;color: #353B3B;line-height: 44px;margin-top: 10%;}
.wxservice-box li{margin-right: 2%;}
.wxservice-box li img{margin: 40% auto 10%;}
.wx-jiesao{padding: 5%;}
.wx-jiesao h1{font-size: 46px;color: #00458E;text-align: center;}
.wx-line{width: 100%;height: 1px;background: #AAA9A9;margin-top: 4%;border-top: 1px solid #AAA9A9;margin-bottom: 10%;}
.wx-line span{width: 20%;height: 6px;margin: -4px auto 0;display: block;background: #00458E;}
.wx-jiesao ul li{width: 30%;float: left;margin-right:5%;background: #F5F5F5;padding:6% 0;}
.wx-jiesao ul li:last-child{margin-right: 0;}
.wx-jiesao ul li img{margin: 0 auto;display: block;}
.wx-jiesao ul li p{margin: 15% auto 0;width: 90%;font-size: 30px;line-height: 40px;text-align: center;color: #848484;}
.wxservice-tuig{background:linear-gradient(54deg,rgba(0,69,142,1),rgba(0,124,255,1));}
.wxservicetg-list{width: 107%;}
.wxservice-navbox{width: 25%;float: left;margin-bottom: 5%;}
.wxservice-navbox div{width: 82%;}
.wxservice-navbox div h1{font-size: 28px;color: #fff;padding-left:48px;background-repeat: no-repeat;height: 36px;background-size: auto 36px;background-position: left center;text-align: left;line-height: 36px;}
.wxservice-navbox div p{font-size: 16px;color: #fff;line-height: 24px;margin-top: 20px;}

.station-wz{left: 50%;}
.station-fw{width: 45%;}
.station-fw ul{width:100%;overflow: hidden;}
.station-fw ul li{width: 22%;height:46px;background: #2A4DFF;color: #fff;font-size: 14px;text-align: center;line-height: 46px;float: left;margin-right: 2%;margin-bottom: 8px;}
.station-fwimg{width: 45%;}
.station-fwimg img{width: 100%;}
.barndplan-box ul li p{font-size: 16px;color: #fff;margin-top: 12px;text-align: center;font-weight: bold;}
.station-qybox{width: 100%;height: 1040px;background: url(/themes/images/service/stationqy.png) no-repeat;background-size: cover;border-top: 1px solid #fff;overflow: hidden;}
.station-qybox h1{font-size: 34px;color: #fff;text-align: center;margin: 10% 0 2%;}
.station-qybox h2{font-size: 44px;color: #fff;text-align: center;}
.station-qybox ul{width: 100%;overflow: hidden;margin-top: 15%;}
.station-qybox ul li{width: 18%;float: left;margin-right:2%;height: 318px;background: #fff;}
.station-qybox ul li img{height: 80px;display: block;margin: 88px auto 30px;}
.station-qybox ul li h3{font-size: 14px;font-weight: bold;margin-bottom: 16px;text-align: center;}
.station-qybox ul li p{font-size: 12px;line-height: 16px;width: 90%;margin: 0 auto;text-align: center;}
.mark-wz{left: 50%;}
.mark-why h2{font-size: 38px;margin-bottom: 5%;font-weight: bold;}
.markwhy-nav{height: 174px;background: #F5F5F5;border-top:1px solid #fff;position: relative;
float: left;margin-right:10%;margin-bottom: 5%;}
.markwhy-nav h1{font-size: 22px;color: #00458E;text-align: center;margin: 10% 0 5%;}
.markwhy-nav p{font-size:14px;width: 63%;margin: 0 auto;line-height: 20px;}
.markwhy-nav span{display: block;width: 96px;height: 96px;background: #7698FC;border-radius: 50%;border-top: 1px solid #7698FC;position: absolute;left: -10%;top: 20%;}
.markwhy-nav em{display: block;width: 80px;height: 80px;background: #395FE4;border-radius: 50%;margin:7px auto 0;font-size: 56px;color: #fff;text-align: center;line-height: 80px;}
.brand-problemoytbox{width: 80%;margin:0 auto;}
.outadvantage{width: 100%;height: 840px;background: url(/themes/images/service/markiocnbg.png) no-repeat;background-size: cover;border-top: 1px solid #fff;}
.outadvantage-nrbox{width: 80%;margin: 0 auto;}
.outadvantage h1{font-size: 44px;color: #fff;text-align: center;margin: 5% 0 2%;}
.outadvantage h2{font-size: 20px;color: #fff;text-align: center;margin: 0 0 10%;}
.outadvantage ul{width: 100%;overflow: hidden;}
.outadvantage ul li{width: 15%;margin-right: 2%;border: 1px solid #fff;height: 368px;float: left;}
.outadvantage ul li:last-child{margin-right: 0;}
.outadvantage ul li img{display: block;height: 60px;margin: 60px auto 32px;}
.outadvantage ul li span{font-size: 22px;display: block;width: 80%;margin: 0 auto;color: #fff;text-align: center}
.outadvantage ul li p{font-size: 16px;width: 80%;margin: 16px auto 0;color: #fff;line-height: 28px;}
.register h1{color: #00458E;font-size: 38px;text-align: center;margin: 5% 0 2% ;font-weight: bold;}
.register h2{font-size: 38px;text-align: center;margin:2% 0 10%;}
.register li{width: 14.2%;float: left;}
.register li img{height: 124px;margin-bottom: 5%;}
.register li p{font-size: 20px;font-weight: bold;margin-top: 10%;}
.register li p em{display: inline-block;width: 15px;height: 15px;background: #2A4DFF;border-radius: 50%;margin-right: 10px;}
.ref-jt{width: 24px;height: 38px !important;margin-top: 57px;margin-left: 27px;}
.wxjies-img img{width: 100%;}
.markwhy-list1{width:60%;margin: 0 auto;}
.markwhy-list2{width:90%;margin: 0 auto;}
.markwhy-list1 .markwhy-nav{width: 45%;}
.markwhy-list2 .markwhy-nav{width:26%;margin-right: 5%;}
@media (max-width: 1600px) { 
    .markwhy-nav em{width: 60px;height: 60px;margin: 13px auto 0;line-height: 60px;font-size: 46px;}
    .markwhy-nav span{width: 86px;height: 86px;left: -16%;}
    .markwhy-list2 .markwhy-nav{width: 29%;}
}
@media (max-width: 1200px) { 
    .markwhy-nav h1{font-size: 18px;}
}
@media (max-width: 1199px){ 
    .service-box h1{font-size: 19px;margin-top: 0;}
    .service-box h2{font-size: 40px;}
    .service-box p{margin-top:19px;}
    .markwhy-nav em{width:40px;height: 40px;margin: 13px auto 0;line-height: 40px;font-size: 36px;}
    .markwhy-nav span{width:66px;height: 66px;left: -16%;}
    .outadvantage ul li span{font-size: 18px;}
    .outadvantage ul li{width: 24%;height: 310px;}
    .outadvantage h2{margin: 0 0 5% 0;}
    .outadvantage ul{margin-left: 11%;}
    .outadvantage-nrbox{overflow: hidden;}
    .outadvantage ul li p{font-size: 14px;margin: 12px auto 0;}
    .outadvantage ul li img{margin:40px auto 22px;}
    
 }
@media (max-width: 991px){ 
    .station-qybox h1{font-size: 27px;}
    .station-qybox h2{font-size: 36px;}
    .wx-jiesao h1{font-size: 30px;}
    .service-box h2{font-size: 30px;}
    .station-qybox ul li{width: 30%;margin-bottom: 2%;}
    .station-fwimg {display:none;}
    .station-fw{width: 100%;}
    .barndplan-box li img{height: 37px;margin:18% auto 7%;}
    .barndplan-box ul li p{font-size: 14px;}
    .barndplan-box{height: 120px;}
    .barndplan-box li span{font-size: 14px;margin-bottom: 2%;}
    .barndplan-box li{width: 23%;margin-right: -4%;}
    .brand-problem h1{font-size: 30px;}
    .brand-problem h2{font-size: 28px;}
    .servicewe{padding-left: 15px !important;}
    .service-box ul li span{margin-top: 20%;color: #fff;}
    .service-box ul li p{color:#fff;}
    .sec-box h1{font-size: 30px;}
    .sec-box p{width: 50%;font-size: 16px;}
    .seo-nr{width: 90%;}
    .seo-nr h6{margin-top: 4%;}
    .seowz-listbox em{width: 10px;}
    .seo-img{width: 48%;margin-top: 10%;}
    .wxjies-wz h1{font-size: 22px;}
    .wxjies-wz p{line-height: 30px;margin-top: 5%;font-size: 14px;line-height: 24px;}
    .wxservice-box{height: 210px;}
    .wx-jiesao ul li p{font-size:24px;}
    .wx-jiesao ul li img{height: 114px;}
    .wxservice-navbox div h1{font-size: 23px;padding-left: 30px;background-size: auto 23px;}
    .wxservice-navbox div p{height: 96px;}
    .markwhy-nav h1{font-size: 18px;}
    .outadvantage h1{font-size: 30px;}
    .outadvantage ul{margin-left:4%;}
    .outadvantage ul li{width: 30%;}
    .register h1,.register h2{font-size: 30px;}
    .register li img{height: 90px;display: block;margin: 0 auto;}
    .register li p{font-size:18px;}
    .register li img.ref-jt{margin-top: 34px;}
}
@media (max-width: 768px) { 
    .service-box h1{font-size:20px;text-align: center;}
    .service-box h2{font-size:24px;margin-top: 10px;text-align: center;}
    .service-box{padding: 4% 0!important;}
    .barndplan-box li img{height: 40px;}
    .barndplan-box ul li p{font-size: 12px;}
    .station-fw ul li{font-size: 12px;width: 23%;}
    .service-box p{margin-top: 10px;font-size: 12px;line-height: 24px;text-align: center;}
    .adv-img{display: none;}
    .adv-wz{width: 100%;margin:  5% 0;margin-bottom: 0;}
    .adv-titleez h1{font-size: 20px;text-align: center;}
    .adv-titleez p{font-size: 12px;text-align: center;margin-top: 1%;}
    .advwz-title em{width: 6px;height: 45px;}
    .adv-titleez{width: 97%;}
    .advantage ul{margin: 3% 0 0 0;}
    .advantage li h2{font-size: 14px;margin-top: 10px;}
    .advantage li h3{font-size: 12px;margin-top: 1%;}
    .advantage li{padding-bottom: 2%;float: left;border: none;width: 33%;border: 1px solid #efefef;}
    .advantage li em{display: none;}
    .advwz-title em{display: none;}
    .service-box em{margin: 0 auto;height: 3px;margin-top:3%;}
    .station-fw ul{margin-top:3%;}
    .station-qybox ul{margin-left: 3%;}
    .station-qybox h1{font-size: 20px;}
    .station-qybox h2{font-size: 24px;}
    .station-qybox ul li img{height: 55px;margin:58px auto 30px;}
    .station-qybox ul li{height: 260px;}
    .barnd-nrbox{width: 100%;}
    .towbarndplan-box{height: 152px;}
    .barnd-nrbox h1{width: 64%;margin: 0 auto;}
    .barndlist-nrlist h1{background-size: 32px auto;}
    .brand-problem h1{font-size: 20px;}
    .brand-problem h2{font-size:14px;}
    .brand-problem li{height: 180px;}
    .seo-img{display: none;}
    .seo-wz{width: 100%;}
    .seo-nr{width: 95%;}
    .sec-box h1{font-size: 20px;margin:  30px auto 20px;}
    .sec-box p{font-size: 12px;line-height: 20px;width: 80%;}
    .sec-wzbox{margin: 20px auto 0;}
    .sec-box{height:640px;}
    .wxjies-img{display: none;}
    .wxjies-wz{width: 100%;}
    .wxjies-wz h1{text-align: center;}
    .wxservice-box{height: auto;padding-bottom: 20px;}
    .wxservice-box li{width: 36%;}
    .barndplan-box li span{height: 28px;}
    .wx-jiesao h1{font-size: 30px;}
    .wx-line span{height: 4px;margin:-3px auto 0;}
    .wx-jiesao ul li p{font-size:20px;}
    .wx-jiesao ul li img{height: 77px;}
    .wx-jiesao ul li{width: 32%;margin-right: 2%;}
    .wxservice-navbox div h1{font-size: 18px;}
    .wxservice-navbox div p{font-size: 12px;margin-top: 4px;}
    .markwhy-list1 .markwhy-nav{width: 100%;}
    .markwhy-list2 .markwhy-nav{width: 100%;}
    .markwhy-nav em{width:60px;height: 60px;margin: 13px auto 0;line-height: 60px;font-size: 36px;}
    .markwhy-nav span{width:86px;height: 86px;left: -12%;}
    .markwhy-list2{width: 60%;}
    .outadvantage h1{font-size: 20px;}
    .outadvantage ul li p{font-size: 12px;}
    .outadvantage ul li img{height: 40px;}
    .outadvantage ul li{height: 284px;}
    .register h1,.register h2{font-size: 20px;}
    .register li img{height: 66px;}
    .register li img.ref-jt{height: 25px !important;width: 14px;}
    .register li p{font-size: 14px;}
    .serviceindex li div{background :linear-gradient(0deg,rgba(0,69,142,1),rgba(0,124,255,1))!important;}
} 
@media (max-width: 479px) {
    .barndplan-box ul li p{line-height: 16px;}
    station-qybox ul li img{height: 55px;margin:58px auto 30px;}
    .station-qybox ul li{height: 260px;width: 45%;}
    .station-qybox ul li{margin-right: 3%;}
    .station-qybox ul{margin-left: 3%;}
    .towbarndplan-box li{width: 48%;margin-top: 16px;margin-right: 4%;}
    .towbarndplan-box li:nth-child(2n+2){margin-right: 0;}
    .towbarndplan-box li img{margin: 0;float: left;margin-right: 10px;}
    .towbarndplan-box li span{text-align: left;float: right;width:75%;}
    .towbarndplan-box li em{width: 75%;text-align: left;float: right;}
    .barndplan-box li img{height: 31px;margin-right: 0;}
    .barnd-nrbox h1{width: 65%;margin: 0 auto;}
    .brand-problem li{height: 140px;}
    .brandpro-wz h3{font-size: 14px;margin-top: 10%;}
    .service-box ul li{height: 268px;}
    .sec-wzbox{padding: 20px;width: 95%;}
    .sec-box{height: 550px;}
    .advantage li h3{height:32px;font-weight: normal;line-height: 16px;margin-top: 10px;width: 90%;}
    .wxservice-box li{width: 52%;}
    .banner-wz{top: 10%!important;}
    .wx-jiesao h1{font-size: 20px;}
    .wx-jiesao ul li p{font-size:14px;line-height: 18px;}
    .wx-jiesao ul li img{height: 44px;}
    .wx-jiesao ul li{width: 32%;margin-right: 2%;}
    .wxservice-navbox{width: 50%;}
    .outadvantage ul li{width: 47%;}
    .outadvantage ul li p{line-height: 21px;}
    .markwhy-list1{width: 100%;}
    .markwhy-list2{width: 100%;}
    .outadvantage{height: 985px;}
    .register li p{font-size: 12px;width: 116%;margin-right: 0;}
    .register li p em{width: 8px;height: 8px;margin-right: 0;}
    .register li img{height: 45px;}
    .register li img.ref-jt{height: 16px !important;width: 9px;margin-top:27px;}
    .station-fw ul li{height: auto;}
    .barndplan-box{height: 90px;}
    .advantage li:last-child{padding-bottom: 2%;}
    .barnd-nrbox{border: 1px solid #efefef;padding: 2% 0;}
    .barndlist-nrlist h3{margin-top: 0;font-size: 12px;padding-left: 30px;width: 90%;}
    .barnd-nrbox h1{font-size: 16px;}
    .barndlist-nrlist{margin-bottom: 2%;}
    .towbarndplan-box{height: auto;padding: 18px 0;}
    .towbarndplan-box li span{height: auto;}
    .brand-problem h1{margin-top: 0;}
    .brand-problem h2{margin-bottom: 5%;}
    .advantagebrand li h3{height: 50px;}
    .advantagebrand li h2{height: 30px;}
    .professional-box{margin-top:40px ;}
    .wxservice-box{height: auto;}
    .wxservice-box li img{margin: 10px auto;}
    .wxservice-box ul{margin-top: 5%;}
    .seo-nr h6{font-weight: normal;}
    .seowz-listbox{margin-bottom: 5%;}
}







